{
  "extends": "eslint-config-egg",
  "rules":  {
    "indent": [2, 4], // js 4个空格缩进
    "eqeqeq": 0, // 允许使用 == !=
    "comma-dangle": [2, "always-multiline"], // 对象 数据 分行显示的 结尾必须加 ","
    "quote-props": 0
  }
}

